body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-family: "Arial", sans-serif;
  color: #404040;
  background-color: black;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
}

.page-header {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  justify-content: space-around;
  background: url("img/pole.jpg") no-repeat;
  background-size: cover;
}

.header-logo {
  width: 20%;
}

.logo-img {
  display: block;
  margin: 10px auto;
  height: 96px;
}
.header-title {
  text-align: center;
  color: #ffffff;
  font-size: 45px;
  line-height: 1.8;
}

.main-nav {
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  line-height: 40px;
  font-size: 20px;
  padding: 0px;
}

.main-nav__item {
  text-transform: uppercase;
}

.main-nav__link {
  color: #ffffff;
  text-decoration: none;
}

.main-nav__link:hover {
  text-decoration: underline;
}

.main-nav__link:active {
  color: rgba(255, 255, 255, 0.7);
}

.new-products { 
  display: flex;
  padding: 50px;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: white; 
}
.section-title {
  width: 100%;
  margin-left: 10px;
  text-transform: uppercase;
  color:black;
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 50px;
}
.new-item {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  border:1px solid #d9d9d9;
  border-bottom: none;
  border-top: none;
  background-color:white;
}

.new-item:last-child {
  border-left-color:transparent;
}

.new-item__main-info {
  display: flex;
  justify-content: space-between;
}

.new-item__picture {
  width: 67%;
}
.new-item__main-info__text {
  width: 30%;
}
.new-item__main-info__text-alc {
  border-bottom: 1px solid #d9d9d9;
}
.bottle-table {
  display: flex;
  border-bottom: 1px solid #d9d9d9;
  font-weight: bold;
  color: black;
}

.new-item p {
  font-size:16px;
  margin-bottom:50px;
}

.btn {
  text-decoration: none;
  padding: 5px;
  border: 1px solid #a38b70;  
}
.new-products__description {
  padding-left: 10px;
  margin-bottom: 50px;
}

.btn-1 {
  color: #a38b70;
}

.btn-2 {
  background-color:#a38b70;
  color:white;
  border-color:#d9d9d9;
}

.features {
  padding-top:30px;  
  padding-bottom:30px; 
  background-color:grey;
}

.features-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.features-item {
  position: relative;
  width: 279px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
  border-left: 1px solid #d9d9d9;
}

.features-item:first-child {
  border-left-color: transparent;
}

.features-item::before {
  display: block;
  position:relative;
  top:15px;
  right: -100px;
  content:"";
  width: 85px;
  height: 85px;
  border: 5px solid #a38b70;
  background-image: url("img/sprite.png");
  background-repeat: no-repeat; 
}
.pan::before {
  background-position: 0px -85px;
}

.bal::before {
  background-position: 0px -169px;
}

.history {
  padding: 50px; 
  background-color:white;
  display: flex;
  flex-wrap: wrap;
}

.history-item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.history-title {
  width: 100%;
  text-transform: uppercase;
  color: black;
  margin-bottom: 40px;
}
.history-description {
  width: 60%;
}

.history-source {
  width: 25%;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
}

.history-history-description__img {
  margin-top: 10px;
}


.history-source__link {
  color:#a38b70;
}

.press {
  background-color:grey;
  padding: 10px 50px 20px;
}
.press-bottom {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}
.press-bottom__cite {
  color:black;
  padding:0;
  text-transform: uppercase;
}

.press-bottom-link {
  display: block;
  text-transform: capitalize;
  box-sizing: content-box;
  font-style:normal;
}

.price {
  background-color:white;
  padding: 50px;
}

.price-list {
  border-collapse: collapse;
  border-spacing:35px;
  text-align: left;

}

.press-btn {
  display: block;
  text-decoration:none;
  padding:10px;
  height: 25px;
  text-align: center;
  color: #ffffff;
  background-color:  #a38b70;
  border:1px solid #ffffff;
}

.price-list th {
  color: grey;
}

.price-list td {
  height: 55px;
  border-bottom: 1px solid #d9d9d9;
}

.price-list .price-name {
  width: 40%;
  color:black;        
}

.price-list th:nth-of-type(1) {
  color: grey;
}

.price-list .price-l {
  width:222px;
}

.price-list .column {
  width:100px;
}

.price-list sup {
  border: 1 solid black;
  padding: 3px;
  color:white;
  background-color: black;
  border-radius: 3px;
  font-size: 12px;
}

.contact {
  padding: 50px;
  background-color:grey;
}
.contact-form {
  padding-right: 50px;
}
.contact-form-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content:  space-between;
}
.contact-form-list__item {
  margin-top: 20px; 
  height: 50px;
  width: 45%;
  font-size: 16px;
  height: 100%;
}
.contact-form-list__item:nth-child(5),
.contact-form-list__item:nth-child(6),
.contact-form-list__item:last-child {
  width: 100%;
}

.contact-form-list__item-input {
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
}

.contact-form-list__item-textarea {
  width: 100%;
  height: 200px;
  font-size: 14px;
}

.contact-form-list__item-select {
  width: 100%;
  height: 50px;
  font-size: 14px;
}

.contact-form-list__item-submit {
  height: 40px;
  width: 160px;
  font-size: 16px;
  padding: 5px;

}
.contact-form-list__item-checkbox {
  display: none;
}

.contact-form-list__item-checkbox + label {
  position: relative;
  display: block;
  padding-left: 35px;
  margin-bottom: 20px;
}

.contact-form-list__item-checkbox + label::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  position: absolute;
  left: 0;
}

.contact-form-list__item-checkbox:checked + label::before {
  width: 10px;
  left: 5px;
  border-radius: 0;
  transform: rotate(45deg);
  border-top-color:transparent;
  border-left-color:transparent;
}

.text {
  color: black;
}


.page-footer {
  padding: 50px;
  background-color:#333333;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.footer-logo {
  width: 20%;
}

.footer-menu {
  width: 70%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 40px;
  font-size: 20px;
}

.footer-menu_item {
  text-transform: uppercase;
}
.footer-menu_link {
  text-decoration:none;
  color:white;
}
.footer-menu_link:hover {
  text-decoration: underline;
  color:black;
}

.footer-social {
  display:inline-block;
  margin-top: 10px;
  font-size: 0;
}

.text-social {
  width: 60%;
  color:#a38b70;
}

.social-btn {
  display:inline-block;
  width: 73px;
  height: 65px;
  margin-right: 10px;
  vertical-align:middle;
  background-color:black;
  color:white;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-image: url("img/icon.png");
  background-repeat: no-repeat;
}

.btn-in {
  opacity:0.5;
}

.btn-vk {
  background-position: -146px 0px;

}

.btn-fb {
  background-position: -73px 0px;
  filter:contrast(1.5);
}

@media screen and (max-width: 480px) {
  .page-header {
   justify-content: center;
  }
  .header-logo {
    width: 100%;
  }
  .header-title {
    font-size: 30px;
  }
  
  .new-item {
    width: 100%;
  }
  .section-title {
    text-align: center;
    font-size: 30px;
  }

  .history-picture {
    width: 100%;

  }

  .history-description {
    width: 100%;
  }

  .price {
    font-size: 12px;
    padding: 5px;
  }

  .price-list .price-name {
    width: 20%;
  }
  .price-list sup {
    font-size: 8px;
  }
  .contact-form-list__item {
    width: 100%;
  }

  .page-footer {
    justify-content: center;
  }
  .footer-logo {
    width: 100%;
  }
  .footer-menu {
    justify-content: center;
    padding: 0;
  }

  .text-social {
    text-align: center;
  }
}